@model UppaiWeb.ViewModels.AddressVM
@{
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
    string FullAddress = "";
}
<link href="~/Content/AdminStyle/Site.css" rel="stylesheet" />
<link href="~/Content/GeneralStyle/css/MapStyle.css" rel="stylesheet" />
<div class="menu-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="menu-title">
                    <h2>Delivery Address Details</h2>
                    <ul class="custom_breadcrumb">
                        <li><a href="/home/index"><i class="fa fa-home"></i> Home</a></li>
                        <li><a href="/home/partnerlist"><i class="fa fa-cutlery"></i> Restaurants</a></li>
                        <li><i class="fas fa-map-marker-alt"></i> Delivery Address</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="customcard pb-3">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="mt-2">Choose your delivery address or Add New Address</h2>
                        </div>
                    </div>
                    <hr class="mb-2" />
                    <div class="col-md-12">
                        <div class="row">
                            @if (Model.DeliveryAddress.Count() > 0)
                            {
                                foreach (var item in Model.DeliveryAddress)
                                {
                                    FullAddress = item.FlatFloorBuilding + ", " + item.Landmark + ", " + @item.FullAddress + " - " + @item.PinNo;
                                    <div class="col-md-6 mt-2">
                                        <div class="col-md-12 addr-card">
                                            <div class="row mt-1">

                                                <div class="col-md-8">
                                                    @if (@item.AddressType == "Home")
                                                    {
                                                        <strong><i class="fas fa-home text-info"></i> @item.AddressType</strong>
                                                    }
                                                    else
                                                    {
                                                        <strong><i class="fas fa-briefcase text-info"></i> @item.AddressType</strong>
                                                    }
                                                </div>
                                                <div class="col-md-4">
                                                    @if (@item.IsSetDefault)
                                                    {
                                                        <span class="pull-right text-success"><i class="fas fa-check"></i> Set Default</span>
                                                    }
                                                </div>
                                                <div class="col-md-12">
                                                    <strong class="pb-1 pull-left"><i class="fas fa-user text-info"></i> @item.ContactPersonName &nbsp;&nbsp; <i class="fas fa-mobile-phone text-info"></i>&nbsp;&nbsp; @item.ContactNumber)</strong>

                                                </div>
                                                <div class="col-md-12">
                                                    @if (@FullAddress.Length < 120)
                                                    {
                                                        <span><i class="fas fa-map-marker-alt text-info"></i> @FullAddress</span>
                                                    }
                                                    else
                                                    {
                                                        <span><i class="fas fa-map-marker-alt text-info"></i> @FullAddress.Substring(0,120) ....</span>
                                                    }
                                                </div>

                                                <div class="col-md-12 mt-2">
                                                    <a href="/customer/editaddress/@item.AddressID" class="text-info pull-right ml-2"><i class="fas fa-edit"></i> Edit Address </a>
                                                    @*<form action="customer/SetDefaultAddr" method="post" data-otf-ajax="true">
                                                            @Html.AntiForgeryToken()
                                                            <a href="@Url.Action("SetDefaultAddr","customer", new { id = item.AddressID})" class="status text-info pull-right" data-toggle="tooltip" data-placement="bottom" title="Set Default Address" data-record="@item.AddressType">
                                                                <i class="fas fa-check"></i> <span>Set As Default</span>
                                                            </a>
                                                        </form>*@
                                                    @*<a href="#" class="text-info pull-right"><i class="fas fa-check"></i> Set As Default </a>*@
                                                    @if (@ViewBag.LayoutCart > 0)
                                                    {
                                                        <a href="@Url.Action("checkout","customer",new {AddrID=item.AddressID,Area="" })" class="text-info pull-right ml-2"><i class="fas fa-check"></i> Select Address </a>
                                                    }
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="col-md-12 text-center">
                                    <img src="~/Content/Image/no_record.png" />
                                    <h3 class="text-muted">No Address record are found </h3>
                                </div>
                            }
                        </div>
                        <div class="row" id="DeliveryAddrDiv">
                            <div class="col-md-12">
                                <div id="pac-container">
                                    <strong class="control-label pull-left">For Adding new Address</strong>
                                    <p id="demo" class="pull-right"></p>
                                    <input id="pac-input" type="text" placeholder="Enter New Delivery Address" class="form-control" />
                                </div>
                            </div>

                            <div class="col-md-12 mt-3" id="FormDiv">
                                <div class="card-borderless">
                                    <form action="/Customer/AddAddress" method="post">
                                        @Html.AntiForgeryToken()
                                        @Html.HiddenFor(m => m.AddAddress.FullAddress, new { @id = "h_fullAddr" })
                                        @Html.HiddenFor(m => m.AddAddress.LatLngBoth, new { @id = "latlongval" })
                                        @*<input type="hidden" name="latlong" id="latlongval" />*@
                                        <div class="col-md-12 mb-3">
                                            <i>Please note all fields marked as <strong class="text-danger">*</strong> are mandatory fields.</i>
                                        </div>
                                        <div class="col-md-12 mt-2">
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label class="control-label required">Full Name</label>
                                                    @Html.TextBoxFor(m => m.AddAddress.ContactPersonName, new { @class = "form-control", @autocomplete = "off", @placeholder = "Enter Contact Person Name", @id = "fullname" })
                                                    @Html.ValidationMessageFor(m => m.AddAddress.ContactPersonName)
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label class="control-label required">Contact Number</label>
                                                    @Html.TextBoxFor(m => m.AddAddress.ContactNumber, new { @class = "form-control", @autocomplete = "off", @placeholder = "Enter Contact Number", @id = "contno" })
                                                    @Html.ValidationMessageFor(m => m.AddAddress.ContactNumber)
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label class="control-label required">Flat, Floor, Building</label>
                                                    @Html.TextBoxFor(m => m.AddAddress.FlatFloorBuilding, new { @class = "form-control", @autocomplete = "off", @placeholder = "Flat, Floor, Building, Company Details", @id = "floordtls" })
                                                    @Html.ValidationMessageFor(m => m.AddAddress.FlatFloorBuilding)
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label class="control-label required">Landmark</label>
                                                    @Html.TextBoxFor(m => m.AddAddress.Landmark, new { @class = "form-control", @autocomplete = "off", @placeholder = "Enter Landmark", @id = "landmark" })
                                                    @Html.ValidationMessageFor(m => m.AddAddress.Landmark)
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label class="control-label required">Pin Code</label>
                                                    @Html.TextBoxFor(m => m.AddAddress.PinNo, new { @class = "form-control", @autocomplete = "off", @placeholder = "Enter Postal Pin Code", @id = "pinno" })
                                                    @Html.ValidationMessageFor(m => m.AddAddress.PinNo)
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label class="control-label required">Address</label>
                                                    @Html.TextAreaFor(m => m.AddAddress.FullAddress, new { @class = "form-control", @autocomplete = "off", @placeholder = "Enter Delivery Address", @id = "FullAddress", @disabled = "disabled" })
                                                    @Html.ValidationMessageFor(m => m.AddAddress.FullAddress)
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <div class="col-md-12 form-check form-check-inline">
                                                        @Html.RadioButtonFor(model => model.AddAddress.AddressType, "Home")
                                                        &nbsp;&nbsp;<label class="form-check-label" for="Home"><i class="fas fa-home"></i> Home </label> &nbsp;&nbsp;
                                                        @Html.RadioButtonFor(model => model.AddAddress.AddressType, "Office")
                                                        &nbsp;&nbsp;<label class="form-check-label" for="Office"><i class="fas fa-briefcase"></i> Office </label>&nbsp;&nbsp;
                                                        @*<input class="form-check-input ml-2" type="radio" name="DeliveryType" id="Others" value="Others" />*@
                                                        @*<label class="form-check-label" for="Others"><i class="fas fa-address-card"></i> Others </label>*@&nbsp;&nbsp;
                                                    </div>
                                                    @Html.ValidationMessageFor(m => m.AddAddress.AddressType)
                                                </div>
                                                <hr />
                                                <div class="col-md-12 mb-2">
                                                    <button type="submit" class="btn btn-success btn-sm float-right"><i class="fa fa-save"></i> Save</button>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-12 d-none" id="MapDiv">
                                <div id="map" style="height:250px; width:100%;"></div>
                                <div id="infowindow-content">
                                    <img src="" width="16" height="16" id="place-icon" />
                                    <span id="place-name" class="title"></span><br />
                                    <span id="place-address"></span>
                                </div>
                            </div>
                            <div class="col-md-12 d-none mt-4" id="NotAvlDiv">
                                <div class="text-center">
                                    <h2><i class="fas fa-3x fa-map-marker-alt"></i></h2>
                                    <h3>Location is not serviceable</h3>
                                    <span class="text-muted">Services are not available at this location yet. Please update your location.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*error message*@
<div id="ErrMsg" style="display:none;">
    <input type="hidden" id="ErrMsgHiddenField" name="ErrMsg" value="@TempData["ErrMsg"]" />
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @*<script src="~/Scripts/member.js"></script>*@
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZbAIlLlcRXFqYg9JxT0VwJxLe_gjFaIE&callback=initMap&libraries=places&v=weekly" async></script>
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script type="text/javascript">
        var fullAddr = "";
        var Addr = '@Model.AddAddress' != null ? '@Model.AddAddress.FullAddress' : "";

        function initMap() {
            const map = new google.maps.Map(document.getElementById("map"), {
                center: { lat: 27.3233367, lng: 88.604143 },
                zoom: 12,
            });
            const card = document.getElementById("pac-card");
            map.controls[google.maps.ControlPosition.TOP_RIGHT].push(card);

            const center = { lat: 27.3233367, lng: 88.604143 };
            // Create a bounding box with sides ~10km away from the center point
            const defaultBounds = {
                north: center.lat + 0.1,
                south: center.lat - 0.1,
                east: center.lng + 0.1,
                west: center.lng - 0.1,
            };
            const input = document.getElementById("pac-input");
            const options = {
                bounds: defaultBounds,
                componentRestrictions: { country: "in" },
                fields: ["address_components", "geometry", "icon", "name"],
                strictBounds: true,
                types: ["establishment"],
            };
            const autocomplete = new google.maps.places.Autocomplete(input, options);

            // Set initial restriction to the greater list of countries.
            autocomplete.setComponentRestrictions({
                country: ["in"],
            });

            const southwest = { lat: 27.5330435, lng: 88.5033336 };
            const northeast = { lat: 27.5330435, lng: 88.5033336 };
            const newBounds = new google.maps.LatLngBounds(southwest, northeast);

            autocomplete.setBounds(newBounds);

            const infowindow = new google.maps.InfoWindow();
            const infowindowContent = document.getElementById("infowindow-content");

            infowindow.setContent(infowindowContent);

            const marker = new google.maps.Marker({
                map,
                anchorPoint: new google.maps.Point(0, -29),
            });

            autocomplete.addListener("place_changed", () => {
                infowindow.close();
                marker.setVisible(false);

                const place = autocomplete.getPlace();

                if (!place.geometry || !place.geometry.location) {
                    // User entered the name of a Place that was not suggested and
                    // pressed the Enter key, or the Place Details request failed.
                    $("#NotAvlDiv").removeClass('d-none');
                    //$("#MapDiv").addClass('d-none');
                    $("#FormDiv").addClass('d-none');
                    $('#FullAddress').val();
                    $('#latlongval').val();
                    //window.alert("No details available for input: '" + place.name + "'");
                }
                else {
                    fullAddr = $('#pac-input').val();
                    //$("#MapDiv").removeClass('d-none');
                    $("#FormDiv").removeClass('d-none');
                    $('#FullAddress').val(fullAddr);
                    $("#NotAvlDiv").addClass('d-none');
                    $('#h_fullAddr').val(fullAddr);
                    $('#latlongval').val(place.geometry.location);
                }

                // If the place has a geometry, then present it on a map.
                if (place.geometry.viewport) {
                    map.fitBounds(place.geometry.viewport);
                } else {
                    map.setCenter(place.geometry.location);
                    map.setZoom(17); // Why 17? Because it looks good.
                }

                marker.setPosition(place.geometry.location);
                marker.setVisible(true);

                //alert(place.geometry.location.lat)

                let address = "";
                if (place.address_components) {
                    address = [
                        (place.address_components[0] &&
                            place.address_components[0].short_name) ||
                        "",
                        (place.address_components[1] &&
                            place.address_components[1].short_name) ||
                        "",
                        (place.address_components[2] &&
                            place.address_components[2].short_name) ||
                        "",
                    ].join(" ");
                }
                infowindowContent.children["place-icon"].src = place.icon;
                infowindowContent.children["place-name"].textContent = place.name;
                infowindowContent.children["place-address"].textContent = address;
                infowindow.open(map, marker);
            });
        }

        $(document).ready(function (e) {
            var InputOperation = function () {
                if ($('#pac-input').val() != "") {
                    var x = '<a href="/Customer/AddAddress"><i class="fa fa-remove pull-right"><u>Clear Search</u></i></a>';
                    document.getElementById("demo").innerHTML = x;
                }
                clearForm();
            }
            var clearForm = function () {
                $('#fullname').val("");
                $('#contno').val("");
                $('#floordtls').val("");
                $('#landmark').val("");
                $('#pinno').val("");
                $('#FullAddress').val("");
                $('#h_fullAddr').val("");
                $('#latlongval').val("");
            }
            $('#pac-input').on('input', function () { InputOperation() })
            var showhideForm = function () {
                if (Addr != "") {
                    $('#pac-input').val(Addr);
                    if (Addr != "") {
                        var x = '<a href="/Customer/AddAddress"><i class="fa fa-remove pull-right"><u>Clear Search</u></i></a>';
                        document.getElementById("demo").innerHTML = x;
                    }
                    $('#FormDiv').removeClass("d-none");
                }
                else {
                    $('#FormDiv').addClass("d-none");
                }
            }
            showhideForm();
        });

    </script>

}



