@model UppaiWeb.Areas.General.Models.OrderManageVM
<div id="DataGrid">
    @if (Model.OrderManageList.Count() > 0)
    {
        if (!string.IsNullOrEmpty(@ViewBag.SearchTerm))
        {
            <div class="col-md-12">
                <i>
                    Showing Results For Search Key : <b class="text-warning">@ViewBag.SearchTerm</b>
                </i>
            </div>
        }
        <div class="table-responsive p-2">
            <table class="table table-striped table-condensed table-bordered">
                <thead>
                    <tr>
                        <th class="text-center" style="vertical-align:middle;">Order#</th>
                        <th class="text-center" style="vertical-align:middle;">Date</th>
                        @if (!User.IsInRole("Partner"))
                        {
                            <th class="text-center" style="vertical-align:middle;">Order From</th>
                        }
                        <th class="text-center" style="vertical-align:middle;">Order Type</th>
                        @if (!User.IsInRole("Delivery Agent"))
                        {
                            <th class="text-center" style="vertical-align:middle;">Assign To</th>
                        }
                        <th class="text-center" style="vertical-align:middle;">Latest Status</th>
                        <th class="text-center" style="vertical-align:middle;">Total Amount (&#8377;)</th>
                        <th class="text-center" style="vertical-align:middle;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        decimal TotalForPartner;
                    }
                    @foreach (var item in Model.OrderManageList)
                    {
                        TotalForPartner = item.NetAmt + item.TaxAmt;
                        <tr>
                            <td class="text-center" style="vertical-align:middle">
                                @item.OrderID
                            </td>
                            <td class="text-center" style="vertical-align:middle">
                                @item.OrderDate.ToString("dd MMM yyyy")
                            </td>
                            @if (!User.IsInRole("Partner"))
                            {
                                <td class="text-center" style="vertical-align:middle">
                                    @item.PartnerName
                                </td>
                            }
                            <td class="text-center" style="vertical-align:middle">
                                @(item.OrderSchedule == null ? "Delivery Now" : "Advance Order")
                                @*@if (@item.OrderSchedule != null)
                                    {
                                    <span>on @item.OrderSchedule.Value.ToString("dd MMM yyyy hh:mm")</span>
                                    }*@
                            </td>
                            @if (!User.IsInRole("Delivery Agent"))
                            {
                                <td class="text-center" style="vertical-align:middle">
                                    @(item.AssignTo == null ? "N/A" : item.AssignTo )
                                </td>
                            }
                            <td class="text-center" style="vertical-align:middle">
                                @if (@item.LatestStatus == "Order Placed")
                                {
                                    <span class="badge badge-warning">Waiting For Confirmation</span>
                                }
                                else
                                {
                                    <span class="badge badge-info">@item.LatestStatus</span>
                                }
                            </td>
                            <td class="text-center" style="vertical-align:middle">
                                @if (User.IsInRole("Partner"))
                                {
                                    <span>@TotalForPartner.ToString("0.00")</span>
                                }
                                else
                                {
                                    <span>@item.TotalAmt.ToString("0.00")</span>
                                }
                            </td>
                            <td class="text-center" style="vertical-align:middle;">
                                @if (@item.LatestStatus == "Order Placed" && User.IsInRole("Partner"))
                                {
                                    <a href="@Url.Action("OrderAckView", "OrderManage", new { OrderID = @item.OrderID, Area = "general" })" data-toggle="tooltip" data-placement="bottom" title="Acknowledge" class="btn btn-sm btn-primary mb-2">
                                        <span><i class="fas fa-fw fa-edit"></i> Acknowledge</span>
                                    </a>
                                }
                                else if (@item.LatestStatus == "Order Confirmed" && User.IsInRole("Admin"))
                                {
                                    if (item.AssignTo == null)
                                    {
                                        <a href="@Url.Action("OrderAssign", "OrderManage", new { OrderID = @item.OrderID, Area = "general" })" data-toggle="tooltip" data-placement="bottom" title="Assign Rider" class="btn btn-sm btn-primary mb-2">
                                            <span><i class="fas fa-fw fa-biking"></i> Assign Rider</span>
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("OrderAssign", "OrderManage", new { OrderID = @item.OrderID, Area = "general" })" data-toggle="tooltip" data-placement="bottom" title="Assign Rider" class="btn btn-sm btn-primary mb-2">
                                            <span><i class="fas fa-fw fa-biking"></i> Change Rider</span>
                                        </a>
                                    }
                                }
                                else if ((@item.LatestStatus == "Order Confirmed" || @item.LatestStatus == "Order Received") && User.IsInRole("Delivery Agent"))
                                {
                                    if (item.AssignTo != null)
                                    {
                                        <a href="@Url.Action("OrderAckByRider", "OrderManage", new { OrderID = @item.OrderID, Area = "general" })" data-toggle="tooltip" data-placement="bottom" title="Assign Rider" class="btn btn-sm btn-primary mb-2">
                                            <span><i class="fas fa-fw fa-biking"></i> Update Status</span>
                                        </a>
                                    }
                                }
                                else
                                {
                                    if (User.IsInRole("Delivery Agent"))
                                    {
                                        <a href="@Url.Action("OrderAckByRider", "OrderManage", new { OrderID = @item.OrderID, Area = "general" })" data-toggle="tooltip" data-placement="bottom" title="Assign Rider" class="btn btn-sm btn-primary mb-2">
                                            <span><i class="fas fa-fw fa-eye"></i> View Order</span>
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("OrderAckView", "OrderManage", new { OrderID = @item.OrderID, Area = "general" })" data-toggle="tooltip" data-placement="bottom" title="View" class="btn btn-sm btn-primary mb-2">
                                            <span><i class="fas fa-fw fa-eye"></i> View Order</span>
                                        </a>
                                    }

                                }
                                <br />
                                <a href="javascript:void(0);" class="viewordtrack btn btn-sm btn-secondary mb-2" id="@item.OrderID"><i class="fas fa-fw fa-road"></i> Order Track</a>
                                @*<a href="@Url.Action("OrderTrack", "OrderManage", new { OrderID = @item.OrderID, Area = "general" })" data-toggle="tooltip" data-placement="bottom" title="Edit" class="btn btn-sm btn-secondary mb-2">
                                        <span><i class="fas fa-fw fa-road"></i> Order Track</span>
                                    </a>*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="col-md-12">
                <div class="ns-grid-pager row" data-otf-target="#DataGrid">
                    <div class="hidden-xs col-md-3 col-sm-3">
                        @Model.PagingInfo.TotalItems Record(s)
                    </div>
                    <div class="text-black-50 col-md-9 col-sm-9 ns-pagination" data-otf-target="#DataGrid" data-otf-actionlink="/general/ordermanage/ordermanagelist">
                        @Html.PageLinks(Model.PagingInfo, x => Url.Action("ordermanagelist", "ordermanage", new { @Area = "general", PageNo = x, PageSize = Model.PagingInfo.ItemsPerPage }))
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="text-center">
            <img src="~/Content/Image/no_record.png" /><br />
            <span class="text-muted">No records available or your searched record in not available..</span>
        </div>
    }
</div>
@*error message*@
<div id="ErrMsg" style="display:none;">
    <input type="hidden" id="ErrMsgHiddenField" name="ErrMsg" value="@TempData["ErrMsg"]" />
</div>