@model UppaiWeb.Areas.General.Models.RiderAckVM
@{
    ViewBag.Title = "Order Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    decimal TotalPartner = 0;
    decimal ReceivedCash = 0;
    bool AssignTo = false;
    foreach (var assign in Model.OrderTransList)
    {
        if (@assign.OrderStatus == "Assign To")
        {
            AssignTo = true;
        }
    }
    TotalPartner = @Model.OrderManage.NetAmt + @Model.OrderManage.TaxAmt;
    ReceivedCash = @Math.Round(Model.OrderManage.TotalAmt);
}
<div class="page-title-wrapper">
    <div class="page-title-heading">
        <div class="page-title-icon">
            <i class="fas fa-fw fa-hand-point-right"></i>
        </div>
        <div>
            <div class="page-title-main-text linebreak">
                Order Manage
            </div>
        </div>
    </div>
    <div class="page-title-actions mt-3"> <a href="/general/ordermanage/ordermanagelist" class="btn btn-danger"> <i class="fa fa-edit"></i>  Order List</a></div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-info"><i class="fas fa-fw fa-toilet-paper"></i> Order Manage <small class="text-secondary text-sm-left"><i class="fas fa-fw fa-caret-right"></i>Rider Acknowledge/View</small></h6>
    </div>
    <div class="card-body pb-4">
        <div class="alert alert-light">
            <h2 class="text-center">Order Details</h2>
            <div class="col-md-12 mt-3">
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label">Order#: <strong>@Model.OrderManage.OrderID</strong> </label>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Date: <strong>@Model.OrderManage.OrderDate.ToString("dd MMM yyyy hh:mm")</strong></label>
                    </div>
                    <div class="col-md-4 text-right">
                        <label class="control-label">Status: <strong class="badge badge-warning"> @Model.OrderManage.LatestStatus</strong> </label>
                    </div>
                    <div class="col-md-8">
                        <label class="control-label">
                            Order Type:
                            <strong>
                                @(Model.OrderManage.OrderSchedule == null ? "Delivery Now" : "Advance Order")
                                @if (Model.OrderManage.OrderSchedule != null)
                                {
                                    <span> On @Model.OrderManage.OrderSchedule.Value.ToString("dd MMM yyyy hh:mm")</span>
                                }
                            </strong>
                        </label>
                    </div>
                    <div class="col-md-4 text-right">
                        <label class="control-label">
                            Total Amount:
                            @if (User.IsInRole("Partner"))
                            {
                                <strong><i class="fa fa-rupee"></i> @TotalPartner.ToString("0.00")</strong>
                            }
                            else
                            {
                                <strong><i class="fa fa-rupee"></i> @Model.OrderManage.TotalAmt.ToString("0.00")</strong>
                            }
                        </label>
                    </div>
                    <div class="col-md-8">
                        <label class="control-label">Order Assign To: <strong class="badge badge-info"> @(Model.OrderManage.AssignTo == null ? "N/A" : Model.OrderManage.AssignTo)</strong> </label>
                    </div>
                    <div class="col-md-4 text-right">
                        <label class="control-label">Payment Mode <strong class="badge badge-info"> @(Model.OrderManage.IsPrePaid == true ? "Pre-Paid Order" : "COD Order")</strong> </label>
                    </div>

                    <div class="col-md-6 border-top">
                        <label class="control-label mt-2">
                            Received From: <strong>
                                @Model.AddressView.PartnerName (@Model.AddressView.PartnerNo)<br />
                                @Model.AddressView.PartnerAddr
                            </strong>
                        </label>
                    </div>
                    <div class="col-md-6 border-top">
                        <label class="control-label mt-2">
                            Ship To: <strong>
                                @Model.AddressView.CustomerName (@Model.AddressView.CustomerNo)<br />
                                @Model.AddressView.CustomerAddr
                            </strong>
                        </label>
                    </div>
                    @if (!string.IsNullOrEmpty(@Model.OrderManage.DeliveryInstruction))
                    {
                        <div class="col-md-12">
                            <label class="control-label mt-2">Delivery Instruction: <strong>@Model.OrderManage.DeliveryInstruction</strong></label>
                        </div>
                    }
                    @if (Model.OrderManage.LatestStatus != "Order Delivered")
                    {
                        if (AssignTo)
                        {
                            <div class="col-md-12">
                                <div class="action-div action-style mt-2">
                                    <form action="/general/ordermanage/OrderAckByRider" method="post">
                                        @Html.AntiForgeryToken()
                                        @Html.HiddenFor(m => m.OrderID)

                                        @if (!Model.OrderManage.IsPrePaid)
                                        {
                                            <strong class="text-danger"> Received Cash: @ReceivedCash.ToString("0.00")</strong>
                                        }
                                        @if (Model.OrderManage.LatestStatus == "Order Confirmed" && User.IsInRole("Delivery Agent"))
                                        {
                                            <button type="submit" class="btn btn-primary btn-user float-right" name="btnreq" value="Order Received"><i class="fa fa-box"></i> Order Received</button>
                                        }
                                        else
                                        {
                                            if (Model.OrderManage.LatestStatus == "Order Received" && User.IsInRole("Delivery Agent"))
                                            {
                                                <button type="submit" class="btn btn-success btn-user float-right" name="btnreq" value="Order Delivered"><i class="fa fa-check"></i> Order Delivered</button>
                                            }
                                        }
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <hr />
        <div class="alert alert-light">
            <h2 class="text-center">Order Items Details</h2>
            <div class="col-md-12 mt-3">

                <div class="table-responsive mb-2">
                    <table class="table table-striped" width="100%">
                        <tbody class="fontsize-13">
                            @if (@Model.OrderItems != null)
                            {
                                foreach (var item in @Model.OrderItems)
                                {
                                    <tr>
                                        <td class="text-left" style="vertical-align:middle;">@item.MenuName</td>
                                        <td class="text-center" style="vertical-align:middle;"><i class="fa fa-rupee"></i> @item.Price.ToString("0.00")</td>
                                        <td class="text-center" style="vertical-align:middle;">@item.Qty</td>
                                        <td class="text-right" style="vertical-align:middle;"><i class="fa fa-rupee"></i> @item.TotalAmt.ToString("0.00")</td>
                                    </tr>
                                }
                                <tr>
                                    <td class="text-right" colspan="3" style="vertical-align:middle;"><b>Sub Total:</b></td>
                                    <td class="text-right" style="vertical-align:middle;"><b><i class="fa fa-rupee"></i> @Model.OrderManage.NetAmt.ToString("0.00")</b></td>
                                </tr>
                                <tr>
                                    <td class="text-right" colspan="3" style="vertical-align:middle;"><b>Tax Amount:</b></td>
                                    <td class="text-right" style="vertical-align:middle;"><b><i class="fa fa-rupee"></i> @Model.OrderManage.TaxAmt.ToString("0.00")</b></td>
                                </tr>
                                if (User.IsInRole("Partner"))
                                {
                                    <tr>
                                        <td class="text-right" colspan="3" style="vertical-align:middle;"><b>Grand Total:</b></td>
                                        <td class="text-right" style="vertical-align:middle;"><b><i class="fa fa-rupee"></i> @TotalPartner.ToString("0.00")</b></td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td class="text-right" colspan="3" style="vertical-align:middle;"><b>Delivery Fee:</b></td>
                                        <td class="text-right" style="vertical-align:middle;"><b><i class="fa fa-rupee"></i> @Model.OrderManage.DeliveryFee.ToString("0.00")</b></td>
                                    </tr>
                                    <tr>
                                        <td class="text-right" colspan="3" style="vertical-align:middle;"><b>Grand Total:</b></td>
                                        <td class="text-right" style="vertical-align:middle;"><b><i class="fa fa-rupee"></i> @Model.OrderManage.TotalAmt.ToString("0.00")</b></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@*error message*@
<div id="ErrMsg" style="display:none;">
    <input type="hidden" id="ErrMsgHiddenField" name="ErrMsg" value="@TempData["ErrMsg"]" />
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}


